{% extends "layout.html" %}
{% block content %}
<div class="container">
    <section class="my-3">
        <h1 class="text-center">Sarana dan Prasarana SDN Puspamukti</h1>
        <div class="row">
            {% for item in sarpras %}
                <div class="col-md-4">
                    <div class="card bg-secondary-subtle">
                        <img src="{{ item.img_url }}" class="card-img-top" alt="{{ item.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.action_link }}" class="btn btn-primary">Go Somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="my-3">
        <h1 class="text-center">Ekstrakulikuler SDN Puspamukti</h1>
        <div class="row">
            {% for item in ekstrakulikuler %}
                <div class="col-md-4">
                    <div class="card bg-secondary-subtle">
                        <img src="{{ item.img_url }}" class="card-img-top" alt="{{ item.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.action_link }}" class="btn btn-primary">Go Somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    
</div>
{% endblock %}