{% include 'header.html' %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis text-white">Form Pendaftaran Calon Siswa SDN
                Puspamukti</h1>
        </div>
    </div>
</div>

<br>

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="p-5 shadow rounded text-dark" style="background-color: hsl(0, 0%, 94%); width:700px">
        <h3 class="text-center mb-4">Dokumen yang harus disiapkan</h3>
        <ol>
            <li>Kartu Keluarga</li>
            <li>KTP Wali</li>
            <li>Ijazah TK (Jika sebelumnya mengikuti pendidikan Tingkat TK)</li>
        </ol>
        <h3 class="text-center mb-4 mt-4">Dokumen yang harus disiapkan</h3>
        <ol>
            <li>Jenis file PDF</li>
            <li>Ukuran file kurang dari 4 mb.</li>
            <li>Scan dokumen harus jelas tidak kabur.</li>
        </ol>
        <p>Klik tombol dibawah ini untuk melanjutkan proses pendaftaran : </p>
        <button type="button" class="btn btn-primary btn-lg" onclick="go_login()">Daftar</button>
    </div>
</div>

<script>
    function go_login(){
        window.location.href = '/loginP'
    }
</script>

{% include 'footer.html' %}