{% include 'header.html' %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis text-white">Form Pendaftaran Calon Siswa SDN
                Puspamukti</h1>
        </div>
    </div>
</div>

<br />

<div class="form">
    <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="form-label">Nama</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Isikan nama calon siswa">
    </div>
    <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="form-label">Nama Orang Tua</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="Isikan nama orang tua calon siswa">
    </div>
    <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="form-label">Alamat</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="Isikan alamat rumah calon siswa">
    </div>
    <div class="mb-3 row">
        <label for="formFileKartuKeluarga" class="form-label">Kartu Keluarga</label>
        <div class="input-group">
            <input type="file" class="form-control" id="formFileKartuKeluarga">
            <label class="input-group-text" for="formFileKartuKeluarga">Browse</label>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="formFileAkteKelahiran" class="form-label">Akte Kelahiran</label>
        <div class="input-group">
            <input type="file" class="form-control" id="formFileAkteKelahiran">
            <label class="input-group-text" for="formFileAkteKelahiran">Browse</label>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="formFileIjazahTK" class="form-label">Ijazah TK</label>
        <div class="input-group">
            <input type="file" class="form-control" id="formFileIjazahTK">
            <label class="input-group-text" for="formFileIjazahTK">Browse</label>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">Kirim</button>
        </div>
    </div>
</div>

{% include 'footer.html' %}