<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #51be78"> </section>
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 col-xl-6 mx-auto mb-4">
                    <!-- Content -->
                    <img src="../static/images/logotwh.png" alt="Image" class="img-fluid" style="width: 120px;">
                    <h3 class="text-uppercase fw-bold  text-center mb-3">SDN PUSPAMUKTI</h3>
                    <p class="text-center">
                        Sekolah Dasar Negeri dengan kurikulum merdeka belajar, yang berfokus dalam pendidikan umum dan
                        pendidikan karakter.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Main Menu</h6>
                    <hr class="mb-2 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #51be78; height: 2px" />
                    <p style="margin-bottom: 0%;">
                        <a href="/" class="text-dark">Home</a>
                    </p>
                    <p style="margin-bottom: 0%;">
                        <a href="/profile" class="text-dark">Profile</a>
                    </p>
                    <p style="margin-bottom: 0%;">
                        <a href="/SarPras" class="text-dark">SarPras</a>
                    </p>
                    <p style="margin-bottom: 0%;">
                        <a href="/galeri" class="text-dark">Galeri</a>
                    </p>
                    <p style="margin-bottom: 0%;">
                        <a href="/prestasi" class="text-dark">Prestasi</a>
                    </p>
                    <p style="margin-bottom: 0%;">
                        <a href="/pengumuman" class="text-dark">Pengumuman</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-2 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #51be78; height: 2px" />
                    <p class="text-justify"><i class="icon-home mr-3"></i>Kp.Ngenol RT/RW 10/05, <br>Ds.Puspamukti,Kec.Cigalontang, <br>Tasikmalaya, Jawa Barat</p>
                    <p class="text-justify"><i class="icon-envelope mr-2"></i> sdnpuspamukti@email.com</p>
                    <p class="text-justify"><i class="icon-phone mr-2"></i> +62 013 2330 6009</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-primary" href="/">SDN PUSPAMUKTI</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h3 class="mb-0">MASUK SEBAGAI USER</h3>
                <p class="mb-0">Pastikan role anda sebelum melanjutkan</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <a href="/loginA"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Admin</strong></a>
                <a href="/loginP"
                    class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Pengunjung</strong></a>
            </div>
        </div>
    </div>


    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#51be78" />
        </svg></div>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    </body>

    </html>