{% extends "base.html" %}

{% block content %}
<h1>Form Pendaftaran</h1>
<p>Admin dapat melihat dan mendownload form yang telah dikirimkan pengguna</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Nama ORTU</th>
            <th>Alamat</th>
            <th>Berkas</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for content in contents %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ content.nama }}</td>
            <td>{{ content.nama_orang_tua }}</td>
            <td>{{ content.alamat }}</td>
            <td>{{ content.files }}</td>
            <td><a href="#" class="btn btn-primary">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
