{% include 'header.html' %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis text-white">Prestasi Siswa SDN Puspamukti</h1>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="d-flex flex-wrap justify-content-around">
        <div class="card mb-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's
                    content.</p>
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's
                    content.</p>
            </div>
        </div>
        <div class="card mb-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's
                    content.</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}